.login {
    width: 100%;   
    background: linear-gradient(#9f85f3, #42006C);
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    

}   

.inputs {
  
    width: 100%;
    text-align: center;
    justify-content: center;
    background: #fff;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text {
    color: #42006C;
    font-size: 1.2rem;
}
 .input {
   border-radius: 5px;
    
}
.input input {
    height: 20px;
    width: 200px;
    background: transparent;
    outline: none;
    color: rgb(62, 5, 24);
    font-size: 1rem;

}
.forget-password h3{
    font-size: 1.2rem;
    font-weight: 400;
}
.submit button {
    padding: 10px;
    margin: 2px;
    color: black;
    background: yellow;
    cursor: pointer;
   
}